# VS Code workspace directory
.vscode/

# Packer Cache, avoids committing useless build artifacts
packer_cache/

# iso output dir, avoids committing complete builds 
# (that's what GH Actions is for)
output-virtualbox-iso/

# For convenience, don't commit log.txt
# If you name your packer log output file 
# log.txt it won't be accidentally committed
log.txt
