[Unit]
Description=Grizzarch welcome message
After=getty@tty1.service

[Service]
Type=oneshot
ExecStart=/root/.automated_script.sh
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
